<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>热门推荐</string>
		<key>content</key>
		<array>
			<dict>
				<key>titleName</key>
				<string>番茄炒鸡蛋</string>
				<key>subTitle</key>
				<string>“番茄炒鸡蛋，虽说是一道大众菜肴，但它营养搭配合理，番茄含有维生素C…</string>
				<key>loveNumber</key>
				<string>54</string>
				<key>name</key>
				<string>Eric Taylor</string>
				<key>stepImaNumber</key>
				<string>4</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>“番茄炒鸡蛋，虽说是一道大众菜肴，但它营养搭配合理，番茄含有维生素C和丰富的胡萝卜素，特别是维生素P的含量居蔬菜之冠，番茄红素具有特别的抗氧化能力，多吃番茄能抗衰老作用，使皮肤保持白皙。而鸡蛋含有自然界中最优良的蛋白质，它所含的DHA和卵磷脂等，对神经系统和身体发育有非常大的做用，能健脑益智，避免老年人智力衰退。”</string>
				<key>ingredients</key>
				<string>鸡蛋-3个;西红柿-2个;食盐-1/2茶匙;生抽-1/2茶匙;白糖-1茶匙;细香葱-1小段;植物油-4汤匙</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string>1、鸡蛋加入盐调味后搅打均匀， 炒鸡蛋时油要放多一些， 鸡蛋煎至定型后再铲成小块盛出备用；2、炒番茄时只需用少许油，番茄必须用油炒才能有利于人体吸收， 番茄微微炒出汁时加入炒好的鸡蛋；3、调味时加入可以适量的生抽、白糖和盐，这些帮助番茄提色增鲜。</string>
				<key>step</key>
				<string>1、将鸡蛋打入碗中，加入适量的盐，搅拌均匀；2、烧热锅，放适量的子午油，倒入打散的鸡蛋液，待鸡蛋煎至定型后用铲子铲成小片，盛出来备用；3、西红柿切块，烧热锅，放少许植物油，下入西红柿炒，微微出汤汁后加入煎好的鸡蛋；4、再加入少量的生抽，最后加入适量的白糖和盐，翻炒均匀，盛入碗中即可，可以撒少许细香葱碎点缀。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>红烧鸡翅</string>
				<key>subTitle</key>
				<string>红烧鸡翅，外文名Braised Chicken Wings，此菜品为以鸡翅为主要食材的家常菜，味道咸鲜，美味可口...</string>
				<key>loveNumber</key>
				<string>89</string>
				<key>name</key>
				<string>Kenneth Johnson</string>
				<key>stepImaNumber</key>
				<string>4</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>红烧鸡翅，外文名Braised Chicken Wings，此菜品为以鸡翅为主要食材的家常菜，味道咸鲜，美味可口。其蛋白质的质量较高，脂肪含量较低，鸡肉蛋白质中富含全部必需氨基酸，有温中益气、补精添髓、强腰健胃等功效，对于保持皮肤光泽、增强皮肤弹性均有好处。</string>
				<key>ingredients</key>
				<string>鸡翅-12个;土豆-1个;食盐-1茶匙;姜-2片;蒜-2瓣;花椒-适量;干辣椒-1个;老抽-1汤匙;白糖-1茶匙;葱-1小段;蘑菇精-1/4茶匙;植物油-2汤匙;水-适量</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>1、步骤5中加水最好一次性加足，中途不要加水，这样影响肉质与口感；2、如果家里吃得惯香料的还可以加入八角等香料调味。</string>
				<key>step</key>
				<string>1、鸡翅洗净，放入锅中，用水焯一下，去掉血水；2、热锅入油，先下入葱、姜、蒜、干辣椒、花椒粒爆香后，放1茶匙白糖；3、当白糖融化时，锅中倒入鸡翅；4、待鸡翅稍稍变色后倒入1汤匙老抽提色；5、炒至上色后加热水，水加到盖过鸡翅即可，煮开，撇去浮沫；6、土豆切成滚刀块待用；7、锅中水开后煮一会儿倒入土豆，倒入土豆后放1茶匙盐调味；8、待锅内水收干后洒1/4茶匙蘑菇精后出锅即可。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>胡萝卜土豆肉丝</string>
				<key>subTitle</key>
				<string>胡萝卜土豆肉丝是以猪肉、花生油、胡萝卜、土豆等为主料的美食...</string>
				<key>loveNumber</key>
				<string>68</string>
				<key>name</key>
				<string>叶丽</string>
				<key>stepImaNumber</key>
				<string>3</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>胡萝卜土豆肉丝是以猪肉、花生油、胡萝卜、土豆等为主料的美食。口感香脆，具有便秘调理，贫血调理，养颜美容调理，明目调理等功能，适合广大群众。</string>
				<key>ingredients</key>
				<string>土豆-200克;胡萝卜(红)-200克;猪肉-100克;食盐-5克;花生油-适量;拌饭酱-1大勺;水-适量</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string>1、土豆切成丝以后要泡在水里哦，洗去大部分的淀粉，炒出来的土豆丝才爽脆呢；2、肉丝要码味，不过不要加盐，否则肉质容易变老；3、大火快煮，注意时间，不必太久易绵软。</string>
				<key>step</key>
				<string>1、胡萝卜切成丝备用，土豆切成细丝，泡在水里10分钟左右备用，瘦肉切成丝，加上生抽、油腌10分钟，热锅，冷油，滑熟肉丝；2、肉丝色泛白时候，加上胡萝卜丝、土豆丝，煸炒2分钟左右加入拌饭酱翻炒；3、最后加两汤匙清水、少量盐焖煮一两分钟就行了。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>糯米圈圈红豆汤</string>
				<key>subTitle</key>
				<string>“冬天热热的一碗红豆汤，让人全身都暖暖的，而且红豆这种食物对女生来…</string>
				<key>loveNumber</key>
				<string>87</string>
				<key>name</key>
				<string>Carl</string>
				<key>stepImaNumber</key>
				<string>9</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string> “冬天热热的一碗红豆汤，让人全身都暖暖的，而且红豆这种食物对女生来说还是很好的，据说红色食物补血暖身，真心是冬日好搭配。”</string>
				<key>ingredients</key>
				<string>红豆-200克;糯米粉-50克;砂糖-80克</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string>糯米的吸水性不一样，根据实际需要来调整，可以搓成团就可以了 </string>
				<key>step</key>
				<string>1、红豆用清水浸泡一晚上；2、加入冰糖煮到红豆熟烂就可以了；3、再准备一份糯米粉；4、加入水搅拌；5、将糯米粉揉成团；6、糯米团子搓小个，再用筷子从中间压一下就可以了；7、锅里烧开水，把糯米圈倒入锅内煮熟；8、煮好的糯米圈圈过冰水冷却；9、把煮好的糯米圈圈倒入红豆汤里就可以吃啦。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>酸甜藕片</string>
				<key>subTitle</key>
				<string>“秋季莲藕大量上市，白白嫩嫩的非常招人喜欢；生吃莲藕能清热生津，凉…</string>
				<key>loveNumber</key>
				<string>38</string>
				<key>name</key>
				<string>Darcy</string>
				<key>stepImaNumber</key>
				<string>8</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“秋季莲藕大量上市，白白嫩嫩的非常招人喜欢；生吃莲藕能清热生津，凉血止血，熟食能补益脾胃、益血生肌。今天就用莲藕做了酸甜藕片，只用了蜂蜜和苹果醋浸泡，又加了几个小辣椒调味，酸酸甜甜，还带着微辣，做法简单又好吃。”</string>
				<key>ingredients</key>
				<string>莲藕-2节;蜂蜜-适量;苹果醋-适量;干辣椒-5个</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string>1、切好的藕片放入淡盐水中浸泡一会能防止氧化变色，也能洗去部分淀粉，让藕片更爽；2、焯过水的藕片快速过凉，能让藕片更爽脆；3、凉拌藕片尽量选择藕尖，藕尖更嫩更脆，适合凉拌，藕根部适合炖煮。</string>
				<key>step</key>
				<string>1、食材莲藕、果醋、蜂蜜、干辣椒；2、莲藕洗净去皮，切成薄片；3、切好的藕片放入淡盐水中浸泡一会，冲洗去淀粉；4、锅中放水，水沸后，放入浸泡过的藕片焯水；5、焯过水的藕片放入冷水中过凉。（过凉的藕片更爽脆）；6、干辣椒剪成丝备用；7、过凉的藕片控干水份，放入容器中，加入干辣椒丝，蜂蜜、加入果醋拌匀，腌渍10分钟即可食用；8、酸甜微辣，爽脆清口。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>家常红烧肉</string>
				<key>subTitle</key>
				<string>“亲手为亲爱的儿子做一道他喜欢的红烧肉，还加了土豆。吸足肉香的土豆…</string>
				<key>loveNumber</key>
				<string>68</string>
				<key>name</key>
				<string>Louis</string>
				<key>stepImaNumber</key>
				<string>3</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“亲手为亲爱的儿子做一道他喜欢的红烧肉，还加了土豆。吸足肉香的土豆其实更为诱人。”</string>
				<key>ingredients</key>
				<string>五花肉-400克;土豆-2个;食盐-1/2茶匙;冰糖-1小把;姜-1小块;蒜-2瓣;八角-1块;料酒-1/2汤匙;生抽-1/2汤匙;老抽-1/2汤匙;植物油-2汤匙;香叶-1片;陈皮-1块;干山楂-2个</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string></string>
				<key>step</key>
				<string>1、五花肉入冷水锅中煮透捞起洗净，切成小块；2、热锅倒入冷油，小火加入姜、蒜、八角、冰糖、香叶、陈皮和干山楂炒出糖色后，将五花肉放入一起翻炒至裹色；3、加入料酒、生抽、老抽，然后加水没过食材，烧开后转小火炖1个小时左右，之后加入去皮切块的土豆，继续煮15分左右，最后加点食盐，收汁就好了。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>丝瓜炖豆腐</string>
				<key>subTitle</key>
				<string>“夏季是丝瓜上市的季节，它的肉质爽嫩，味道鲜美，经常食用不但可以补…</string>
				<key>loveNumber</key>
				<string>68</string>
				<key>name</key>
				<string>Adam</string>
				<key>stepImaNumber</key>
				<string>5</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“夏季是丝瓜上市的季节，它的肉质爽嫩，味道鲜美，经常食用不但可以补充身体所需营养，而且清热解毒还能美白哦。丝瓜和豆腐加入高汤一起炖煮，豆腐嫩滑，丝瓜爽嫩，汤汁鲜美，简直是绝配。”</string>
				<key>ingredients</key>
				<string>丝瓜-2根;嫩豆腐-1盒;木耳-适量;蒜-4瓣;干辣椒-适量;葱-适量;浓汤宝-1个;水淀粉-适量;盐-适量</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string></string>
				<key>step</key>
				<string>1、准备好所有食材；2、丝瓜去皮切成滚刀块、豆腐划成大小均匀的块状，并将葱蒜切碎，准备好干辣椒（辣椒可以不放，我主要是为了给菜搭配下颜色）；3、提前在砂锅中放入热水，把浓汤宝融化，用于后面的炖煮汤汁。（如果用高汤肯定更好，更有营养，但是家里没有，我就图省事啦）；4、热锅中注入油，烧至五分热时下入葱蒜和红辣椒炒香，倒入丝瓜一起翻炒至变色后，放入豆腐和黑木耳，此时不要用锅铲翻炒，加入刚刚溶化好的浓汤宝煮开；5、煮开后加入适量的盐，并加入水淀粉勾芡后，在炖煮个半分钟即可关火。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>家常菜谱</string>
		<key>content</key>
		<array>
			<dict>
				<key>titleName</key>
				<string>家常炒面</string>
				<key>subTitle</key>
				<string>“一个人吃饭喜欢做些简单的，比如炒面，简单快捷又不失营养~~~~·”…</string>
				<key>loveNumber</key>
				<string>30</string>
				<key>name</key>
				<string>毛毛</string>
				<key>stepImaNumber</key>
				<string>13</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“一个人吃饭喜欢做些简单的，比如炒面，简单快捷又不失营养~~~~·”</string>
				<key>ingredients</key>
				<string>面条(生)-300克;五花肉-100克;圆白菜-1/4个;胡萝卜-1根;洋葱-1个;香葱-2棵;盐-适量;蚝油-适量;酱油-2匙;料酒-适量</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>加入面条后用筷子翻炒更方便。</string>
				<key>step</key>
				<string>1、细生面条；2、生面条放入蒸屉上，蒸锅上汽后中火蒸15分钟，把面条蒸透；3、蒸好的面条抖散备用；4、配菜我准备的是洋葱、圆白菜、胡萝卜、五花肉；5、处理配菜：圆白菜、胡萝卜、洋葱分别切丝、五花肉切薄片，香葱切末；6、热锅凉油，放入五花肉煸炒；7、炒至五花肉变色吐油，烹入一茶匙料酒，加入适量酱油（炒面我喜欢重色，用的老抽）；8、煸炒五花肉上色后，放入洋葱和胡萝卜丝煸炒；9、加入圆白菜继续翻炒；10、翻炒均匀后加入食盐；11、加入蚝油翻炒均匀；12、最后加入蒸好的面条；13、翻炒一两分钟，翻炒均匀即可关火。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>南乳莲藕蒸鸡</string>
				<key>subTitle</key>
				<string>“这个普通不过的菜，看上去非常农家的感觉，只是用了平凡的南乳、蚝油等…</string>
				<key>loveNumber</key>
				<string>65</string>
				<key>name</key>
				<string>叶丽</string>
				<key>stepImaNumber</key>
				<string>9</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“这个普通不过的菜，看上去非常农家的感觉，只是用了平凡的南乳、蚝油等的调料 ，就能跟鸡肉拼出了美味的火花”</string>
				<key>ingredients</key>
				<string>鸡腿-1只;鸡翅-3只;莲藕-50只;姜-5克;蒜-5克;葱-3克;香菜-3克;油-1匙;盐-2克;南乳-2块;蚝油-1匙;酱油-1匙;糖-1克;胡椒粉-1克</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string></string>
				<key>step</key>
				<string>1、各材料，鸡腿、鸡翅各砍件，莲藕切薄片用盐水泡过；2、把所有调味料放入鸡肉里；3、调味料与鸡肉充分混合后加入生粉；4、鸡肉腌上15分钟，加入姜蒜料；5、再下油拌好；6、取一个碟子，放下莲藕片在底部；7、把腌好的鸡肉材料入在莲藕片上；8、鸡肉沸水入锅，中火蒸20分钟即可；9、取出蒸好的鸡肉，撒下香菜、葱花，即可食用</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>糖醋素排骨</string>
				<key>subTitle</key>
				<string>“分享一道素食中的精华菜，是用即食素鸡和莲藕搭配一起，用糖醋汁调味…</string>
				<key>loveNumber</key>
				<string>47</string>
				<key>name</key>
				<string>方丽</string>
				<key>stepImaNumber</key>
				<string>10</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“分享一道素食中的精华菜，是用即食素鸡和莲藕搭配一起，用糖醋汁调味后制成的。味道酸甜，好吃不长肉的糖醋素排骨。这道菜对于那些吃肉怕长胖的人群来说食用是最好不过了。菜品酸甜诱人，口感似肉非肉，加上里面脆脆的藕段，吃了就停不了筷子，而且营养也丰富全面。”</string>
				<key>ingredients</key>
				<string>莲藕-250克;即食素鸡-6根;香醋-1茶匙;红烧酱油-2汤匙;油-25毫升;白糖-1茶匙;葱花-少许</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string>1.即食素鸡是有咸味的，所以只要糖醋汁调味已经够了；2.素鸡先煎一下再调味口感更有嚼劲</string>
				<key>step</key>
				<string>1、莲藕洗净后去皮，备好即食素鸡；2、把莲藕切段后泡入清水里，素鸡切成段；3、用筷子以旋转的方式往素鸡中间戳穿；4、再把莲藕段穿入；5、至全部做好，备好葱花，碗中加入红烧酱油，醋和白糖拌匀；6、热锅倒油，先把素鸡两面煎至表面起皱；7、再把调好的糖醋汁倒入；8、加入少许热水；9、大火烧成汁水浓稠后熄火出锅；10、出锅后撒上葱花</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>清蒸大黄鱼</string>
				<key>subTitle</key>
				<string>“在江南人的传统中，在端午节这一天，除了吃粽子之外，还要吃“五黄”——…</string>
				<key>loveNumber</key>
				<string>98</string>
				<key>name</key>
				<string>Eric Taylor</string>
				<key>stepImaNumber</key>
				<string>8</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>“在江南人的传统中，在端午节这一天，除了吃粽子之外，还要吃“五黄”——黄鳝、黄鱼、黄瓜、咸蛋黄和雄黄酒（一般都喝普通黄酒代替雄黄酒），据说在端午节可以驱邪解毒。”</string>
				<key>ingredients</key>
				<string>大黄鱼-550克;油-2汤匙;盐-1茶匙;白酒-1茶匙;小葱-少许;黄酒-1汤匙;生姜-10克;青椒丝-少许;蒸鱼鼓油-2汤匙</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string>1，大黄鱼洗净后用刀把鱼身斜切几刀，这样更便于入味。先用盐和白酒腌制一会使得鱼肉有个底味，白酒能去腥增鲜，最后要加入蒸鱼豉油，所以腌制的不要太咸，以免失去鱼肉原有的风味；2.蒸的时间要依照鱼的大小而定，蒸制差不多八分钟的时候，会蒸出汤汁，这汤汁最腥，倒掉不要，蒸出的鱼肉才不会腥。</string>
				<key>step</key>
				<string>1、把鱼洗净后沥干水分，备好小葱段，生姜片，生姜丝，青椒丝，白酒，黄酒和蒸鱼豉油；2、先用刀把鱼两面都斜切几刀，在把白酒均匀的抹在鱼身上后再把盐均匀的抹上，静置15分钟；3、之后，鱼盘里先加入一半的葱和姜，把鱼加入上面把余下的葱姜加上，再加入黄酒；4、蒸锅水开后，上锅加盖蒸12分钟；5、中途蒸到八分钟的时候，把蒸出的水倒掉，再盖上蒸；6、时间到去除，把上面的葱姜用筷子轻轻的夹掉，再把青椒丝和姜丝加上，倒入蒸鱼豉油；7、勺子里加入油，烧制沸腾，立即淋在青椒丝，姜丝上面，激出香味；8、肉质非常的鲜嫩。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>家常盐酒鸡</string>
				<key>subTitle</key>
				<string>“客家人都会照顾好产妇，让产妇进食这类温和滋补的月子菜，这是她们客家…</string>
				<key>loveNumber</key>
				<string>65</string>
				<key>name</key>
				<string>Adam</string>
				<key>stepImaNumber</key>
				<string>5</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“客家人都会照顾好产妇，让产妇进食这类温和滋补的月子菜，这是她们客家产妇必备月子食谱之一：盐酒鸡，同时它也是一道客家家常菜，烹饪过程不加水，就是突出鸡的鲜味和酒香味，咸鲜适口，所以平时也会作为家常菜出现。”</string>
				<key>ingredients</key>
				<string>鸡-一只;客家黄酒-一碗;盐-两小勺;白酒-一勺;葱-两根;生姜-两块</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string></string>
				<key>step</key>
				<string>1、葱洗干净打成葱结，姜拍碎；2、鸡加盐、白酒充分揉搓，腹内也不能忽略哦。还有鸡腹内贴着骨头的地方会有血和其他杂质，一定要处理干净，这样做出来味道才好；3、把葱姜塞入腹内，放入冰箱腌半天，最少也得有个三四小时，这样才入味；4、把鸡放在深盘里，蒸30分钟，蒸好取出，倒入一碗客家黄酒，浸泡一两个小时，中间可以给鸡翻个面。这里使用的是比较嫩的鸡，如果用饲养时间比较久的鸡，需要延长蒸的时间；5、食用前砍小块即可，冷吃热吃都可以哦。如果喜欢吃热的，食用前再蒸几分钟。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>一日三餐</string>
		<key>content</key>
		<array>
			<dict>
				<key>titleName</key>
				<string>家常鸡蛋饼</string>
				<key>subTitle</key>
				<string>“周末自己动手，香喷喷的鸡蛋饼” …</string>
				<key>loveNumber</key>
				<string>65</string>
				<key>name</key>
				<string>Louis</string>
				<key>stepImaNumber</key>
				<string>17</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>“周末自己动手，香喷喷的鸡蛋饼”</string>
				<key>ingredients</key>
				<string>面粉-300克;柴鸡蛋-4个;热水-110克;冷水-55克;花生油-3小勺;油酥面粉-1小勺;海米-适量;盐-3克</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>1、揉成面团要醒发一段时间，醒发的时间越长面团越滋润，做饼越好操作；2、油酥比油有更好的分层效果，灌鸡蛋的时候更好操作。</string>
				<key>step</key>
				<string>1、面粉、盐称量好；2、先将110克热水倒入面粉中用筷子拌成絮状，再将冷水倒入面粉中混合均匀；3、揉成光滑的面团，醒30分钟左右；4、3勺花生油烧开，倒入碗中待到温热再加面粉1小勺；5、搅拌均匀；6、把四个鸡蛋磕入碗中；7、加入海米，搅拌均匀；8、醒好的面团揉匀排气，继续醒发15分钟；9、醒好的面团搓成长条；10、切成50克左右的小剂子；11、把面条擀开成长条状，抹上一层油酥；12、对折，喜欢的还可以再抹上一层油酥；13、卷起来压扁，醒发5分钟，然后把面团擀成直径20厘米左右的饼；14、平底锅预热抹上一层油；15、放入饼坯；16、等饼鼓起来，饼的一角掀开倒入蛋液；17、稍等几秒钟，翻面，等到两面都上色，鸡蛋成熟后，即可关火。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>白菜猪肉馅饼</string>
				<key>subTitle</key>
				<string>“喜欢吃面食，当然也喜欢吃馅饼啦，有皮有馅，外皮香酥，内馅鲜美。一…</string>
				<key>loveNumber</key>
				<string>12</string>
				<key>name</key>
				<string>Kenneth Johnson</string>
				<key>stepImaNumber</key>
				<string>13</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“喜欢吃面食，当然也喜欢吃馅饼啦，有皮有馅，外皮香酥，内馅鲜美。一张馅饼加一碗米粥，一口馅饼来一口米粥，哇那吃得一个叫舒服呀，这是最典型的中式餐了，既饱了口福又饱了肚子，尤其是在我们饿的时候、疲惫的时候、出门在外的时候，能吃上一顿这样的饭，整个身心都会在美味中得到安慰。”</string>
				<key>ingredients</key>
				<string>猪肉馅-100克;白菜-300克;面粉-420克;清水-235克;食用油-5克;香油-3克;盐-3克;花椒粉-1克;姜-3克;生抽-10克;老抽-5克;鸡精-1克;白菜汁-15克;葱-1段</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>1、馅饼的面团要软一些，这样做出来的饼皮比较软；2、面粉和清水的比例是：1斤面粉6两水，面粉不同，吸水性也不同，所以要根据面粉的吸水性来添加清水；3、白菜汁不要丢掉，可以拌到肉馅里或者和面团用都可以；4、肉馅可以半肥半瘦，也可以肥肉多点；5、馅饼的收口一定要捏紧，否则烙的时候就成裂开。</string>
				<key>step</key>
				<string>1、先准备面粉，将称量好的面粉倒入盆中；2、将清水分几次慢慢地加入面粉中，将面团揉成柔软的面团，盖上保鲜膜静置20分钟；3、白菜猪肉馅的材料：白菜、葱、姜、猪肉馅，我用了六分肥四分瘦的肉馅；4、葱、姜切碎，白菜剁成碎，团成团后用手挤出白菜汁，白菜汁不要丢掉哦，我用它来搅拌肉馅，味道不错的；5、肉馅中加入盐、花椒粉、姜碎、生抽、老抽、白菜汁、加少许的食用油顺一个方向搅拌，直至肉馅变得紧致、光滑、滋润；6、再加入白菜、葱、鸡精也拌匀；7、最后加入香油提香，拌匀即可,哇，这时的白菜猪肉馅就已经很香啦；8、醒好的面团稍微揉一下，分成八个小面团，这时的面团比较软，撒一点点的薄面防粘手；9、取一个小面团，放入适量的白菜猪肉馅；10、像包包子一样，把馅饼包起来，封口处捏紧，用手轻轻按扁即可，将其余的馅饼都包好；11、平底锅烧热抹上食用油，将馅饼放入，中火烙制，盖上锅盖可以增加锅内的温度促进饼的成熟；12、饼的底部定型后，将饼翻面，继续烙，两面烙成金黄色，用锅铲轻压饼能弹回，证明饼成熟了，取出就可以吃啦；13、外皮酥香、内馅鲜美的白菜猪肉馅饼完美呈现。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>豹纹馒头</string>
				<key>subTitle</key>
				<string>“自从拥有了厨师机，面食做得越来越方便，揉面排气压面，一机搞掂，早…</string>
				<key>loveNumber</key>
				<string>54</string>
				<key>name</key>
				<string>Darcy</string>
				<key>stepImaNumber</key>
				<string>16</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“自从拥有了厨师机，面食做得越来越方便，揉面排气压面，一机搞掂，早餐想吃点无添加的自制馒头，是人人都能轻松完成的事情。准备好中筋粉，酵母，可可粉，豹纹馒头就能做出来，不加糖，不加任何泡打粉改良剂，老人小孩，甚至高血糖的人都能吃。《熊出没》里的强哥曾经讲过一句经典的话：馒头加咸菜，味道真不赖~说的正是北方人对这类无糖面食的吃法！喜欢甜食的南方人，吃这些无糖馒头时，配上炼奶或者巧克力酱，味道马上变得熟悉啦！”</string>
				<key>ingredients</key>
				<string>中筋面粉-200克;酵母-2克;水-100克;可可粉-少许</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string>浅色的可可面团只需要很少很少的可可粉，能够跟白色面团区分开来就可以了，深色的可可面团，添加的可可粉稍微多一点，颜色自然深一些。制作豹纹的时候，建议花纹弄小一点，分布密一点，出来的效果会更好。</string>
				<key>step</key>
				<string>1、将清水，酵母放入厨师机不锈钢盆中，化开，静置5分钟左右，让酵母恢复活性；2、将中筋粉加入到厨师机中，并安装上和面勾；3、旋至2档，低速和面；4、大概和面2分钟，搅拌至无干粉状态；5、调至4档高速揉面3分钟，揉至面团光滑；6、取出面团，放入大碗中，盖上保鲜膜，放入温暖处进行一发。如果烤箱有发酵程序，可以用35度发酵60分钟；7、发酵至面团2倍大左右，取出；8、在案板上撒上干粉，然后按压面团排气。如果厨师机配有压面配件，可以用压面机排气，更方便更完全；9、排气后，分出两块小面团，分别是10克，20克的，分别加入适量的可可粉，得到深浅两种面团，压薄备用；10、主面团用擀面杖擀薄，最好擀成规则的长方形，或者用压面机压薄，多压几次，表面光滑，做出来的馒头更光滑。若压出来的面团太长，可以适量裁短成几片，我分成了三片；11、分出大大小小的深浅可可面团，随意摆放到白色面片上；12、然后用压面机压紧，或者用擀面杖擀开；13、竖着卷起来，收口压紧，朝下摆放；14、切成小段。因为花纹是随意摆放的，正好卷起来时小花纹都被卷在里面，大花纹都在外面，不太好看，所以建议多弄点小花纹吧；15、蒸笼垫上蒸笼布，将馒头放在上面，蒸锅将水烧暖（水温大概40度左右就行），盖上锅盖，发酵半个小时；16、二发结束后，冷水上锅，水沸腾后，转为中小火，蒸15分钟，然后焖5分钟再开盖。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>胡萝卜鸡蛋卷</string>
				<key>subTitle</key>
				<string>“小朋友是颜值派，不管什么食材，只要漂亮就喜欢，为了让他多吃肉，绞…</string>
				<key>loveNumber</key>
				<string>89</string>
				<key>name</key>
				<string>Selina</string>
				<key>stepImaNumber</key>
				<string>16</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>“小朋友是颜值派，不管什么食材，只要漂亮就喜欢，为了让他多吃肉，绞尽脑汁创新呀!
这款蛋卷，是我家最受欢迎的一道肉菜，每次一上桌就被光盘，足足的肉和鸡蛋，营养丰富，做法也不难，秋季进补就选它了！”</string>
				<key>ingredients</key>
				<string>猪肉-300克;胡萝卜-100克;鸡蛋-4个;油-一勺;盐-一撮;小麦淀粉-少许</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>1、小麦淀粉一点点即可，不要多放，添加小麦淀粉后，鸡蛋皮不容易破。也可以用淀粉代替小麦淀粉；2、肉卷蒸好后稍微放凉，切的时候才不容易碎哦。</string>
				<key>step</key>
				<string>1、猪肉和胡萝卜放入料理机里，加入适量盐和一个鸡蛋，打成肉泥；2、三个鸡蛋液打散，加入小麦淀粉，搅拌均匀；3、平底锅放入少许油，将一半鸡蛋液倒入，晃动锅子，将蛋液摊成饼，煎至底部完全凝固；4、取出，稍微放凉，将肉馅均匀地抹在上面；5、轻轻卷起来；6、收口朝下稍微压制定型；7、两条都做好了，放入蒸笼备用；8、汤的食材准备好，胡萝卜和白萝卜丝切好，葱切花；9、砂锅放油，将萝卜丝炒软；10、加入大半锅水；11、将蒸笼放在砂锅上；12、盖上盖子，烧开后继续蒸15分钟；13、将蒸笼端下来，萝卜丝里面加盐调味，撒上葱花即可出锅；14、肉卷稍微放凉后切片；15、装盘即可；16、一菜一汤，开饭喽</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>牛奶炖蛋</string>
				<key>subTitle</key>
				<string>“这道小甜品不论老少，适合所有人食。香滑细腻、入口即化的牛奶蛋羹。…</string>
				<key>loveNumber</key>
				<string>87</string>
				<key>name</key>
				<string>叶丽</string>
				<key>stepImaNumber</key>
				<string>7</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>“这道小甜品不论老少，适合所有人食。香滑细腻、入口即化的牛奶蛋羹。简单又美味，让人怎么吃也吃不够。在用绿色土鸡蛋来做，哇咔咔，真的是太棒了。”</string>
				<key>ingredients</key>
				<string>鸡蛋-2个;牛奶-200毫升;糖-15克</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string>1、小麦淀粉一点点即可，不要多放，添加小麦淀粉后，鸡蛋皮不容易破。也可以用淀粉代替小麦淀粉；2、肉卷蒸好后稍微放凉，切的时候才不容易碎哦。</string>
				<key>step</key>
				<string>1、材料备好，我用的土鸡蛋，个头不大，如果鸡蛋比较大可以多加一点牛奶；2、白糖倒入牛奶里加热到温热，搅拌至白糖溶化；3、鸡蛋打散；4、鸡蛋液倒入牛奶锅，搅打均匀；5、找个导热好、合适的容器，倒入牛奶蛋液，要用筛网过滤2次；6、碗表面蒙上保鲜膜，用牙签在表面扎几个小孔；7、锅下冷水，把碗放到蒸锅里，盖上盖子，大火蒸15分钟即可。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>烘培甜品</string>
		<key>content</key>
		<array>
			<dict>
				<key>titleName</key>
				<string>斑马蛋糕</string>
				<key>subTitle</key>
				<string>“烫面做的蛋糕口感更细腻更加柔软，加点可可粉上点颜色感觉别有一番风味”…</string>
				<key>loveNumber</key>
				<string>47</string>
				<key>name</key>
				<string>Selina</string>
				<key>stepImaNumber</key>
				<string>12</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“烫面做的蛋糕口感更细腻更加柔软，加点可可粉上点颜色感觉别有一番风味”</string>
				<key>ingredients</key>
				<string>鸡蛋-6个;低筋粉-100克;玉米油-60克;牛奶-50克;白糖-45克</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>1、柠檬汁可以去腥，稳定蛋白；2、可可粉事先要用牛奶先搅匀，防止起疙瘩</string>
				<key>step</key>
				<string>1、食材备好；2、玉米油倒入锅中加热到大约80度左右；3、加热好的油倒入面粉搅拌均匀；4、搅拌成顺滑无颗粒的状态；5、面糊降温后感觉不热时加入蛋黄搅匀；6、加入牛奶搅匀；7、蛋清加入少许柠檬汁；8、蛋白加糖打发成干性状态后加入到蛋黄糊里拌成蛋糕糊；9、可可粉用少许牛奶搅成糊状，和少许蛋糕糊拌匀成褐色的可可蛋糕糊；10、取一个深底烤盘铺好油纸，下面装上原味蛋糕糊 上面浇上可可面糊，再用筷子随便叫几下，就可以放入烤箱，开始烘烤了；11、用烤箱170度烤30分；12、切成小块美味即成</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>姜撞奶</string>
				<key>subTitle</key>
				<string>“姜撞奶，源于珠江三角洲一带的民间传统美食。味道香醇爽滑，甜中微辣、…</string>
				<key>loveNumber</key>
				<string>98</string>
				<key>name</key>
				<string>毛毛</string>
				<key>stepImaNumber</key>
				<string>8</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“姜撞奶，源于珠江三角洲一带的民间传统美食。味道香醇爽滑，甜中微辣、风味独特且有暖胃作用。天冷时趁热食用；天热时，冷藏后便成了一款美味的消暑甜品。”</string>
				<key>ingredients</key>
				<string>老姜-1大块;牛奶-50毫升;砂糖-20克</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>能买到新鲜牛奶就更好啦</string>
				<key>step</key>
				<string>1、准备好材料；2、姜去皮，剁成姜茸；3、把剁好的姜茸放进纱布挤出姜汁，姜汁约15ml就够了；4、牛奶倒入奶锅中，加入砂糖；5、中小火煮至微开，锅边起小泡泡就可，熄火放置稍晾凉；6、待温度降至70度左右时，倒入装着姜汁的碗中，并盖上碗盖；7、不要搅动或摇晃碗，静止一会就可凝结；8、甜中带点微辣，口感非常滑嫩</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>萌萌的斑点蛋糕卷</string>
				<key>subTitle</key>
				<string>“红丝绒波点蛋糕卷，颜色嗲嗲的甚是诱人，蛋糕坯绵软丝柔入口即化，而…</string>
				<key>loveNumber</key>
				<string>76</string>
				<key>name</key>
				<string>Louis</string>
				<key>stepImaNumber</key>
				<string>12</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“红丝绒波点蛋糕卷，颜色嗲嗲的甚是诱人，蛋糕坯绵软丝柔入口即化，而且有种润润的口感，搭配香滑的奶油馅，绝对会让你幸福感倍增。”</string>
				<key>ingredients</key>
				<string>低筋面粉-75克;鸡蛋-4个;玉米油-50克;牛奶-50克;可可粉-2克;热水-1勺</string>
				<key>speciality</key>
				<string>烘培、泰国菜</string>
				<key>skill</key>
				<string>切的时候，切一刀擦一下再切下一刀，这样切面会比价美观，还有刀越锋利越好。</string>
				<key>step</key>
				<string>1、准备食材：鸡蛋4个(65g以上的，鸡蛋小的话可以用5个)，低筋面粉58g、玉米油50g、白糖50g、牛奶50g 、可可粉2g；2、牛奶和玉米油混合，用打蛋器搅拌至乳化均匀，筛入低筋面粉，划一字拌匀；3、倒入蛋黄继续画一字拌匀，或者用刮刀像炒菜一样翻拌均匀，使蛋黄糊更细腻（用的后蛋法这一步也可以省略）分离出来的蛋清先放冷藏；4、从冷藏取出蛋清，加几滴的白醋（或者柠檬汁），用无油无水的电动打蛋器打发至鱼眼泡泡状，倒入1/3的白糖,打到蛋白明显变多且泡泡变小的时候，再加1/3的白糖，继续打发至蛋白有明显的纹路时倒入剩下的1/3白糖，继续打发至偏湿性发泡状态，不能太硬否则卷的时候容易开裂；5、蛋白打好后就可以预热烤箱了，175度10分钟，取1/3的蛋白到蛋黄糊里，用刮刀以翻拌或者切拌的手法混合均匀，然后把混合好的糊糊倒入剩余的蛋白霜里，继续以切拌或翻拌的手法混合均匀切勿用画圈的形式，以免消泡最后混合好的糊糊翻拌起来是比较轻盈的，还有点点弹力和蓬松感；6、2g的可可粉加3g左右的热水（少量的添加能化开可可粉就行），混合好的蛋糕糊盛出两勺大概20g左右混合，装进裱花袋里；7、在提前铺好油纸的烤盘上挤出斑点花纹的形状，这个形状可以根据个人喜好来，放进预热好的烤箱烤1分钟稍微定定型；8、从30厘米的高处倒入蛋糕糊，用刮刀刮平整，在桌子上轻轻震几下，震出气泡，放进烤箱175度20分钟，用手按蛋糕表面没有流动感和沙沙声就是熟了出炉后再震几下模具，为的是震出热气，用脱模刀将四周划开；9、在上边铺一张油纸，把蛋糕倒扣过来，撕掉油纸，再虚盖一张油纸晾凉；10、晾蛋糕的同时准备草莓和打发奶油，奶油可以打的稍微硬点。奶油可根据自己的喜好来，喜欢吃的就多加点，不喜欢奶油就少点，打发奶油里边加的糖也一样，根据自己的口感，一般加奶油的5%-10%；11、在蛋糕上均匀的涂上奶油，摆上草莓；12、裹着油纸从一端卷起来，放冰箱冷藏15-30分钟或者过夜，口感会比较好。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>摩卡布朗尼</string>
				<key>subTitle</key>
				<string>“最近新得了一些金龙鱼的面粉，赶紧动手做了个快速蛋糕尝尝鲜～属于一…</string>
				<key>loveNumber</key>
				<string>25</string>
				<key>name</key>
				<string>叶丽</string>
				<key>stepImaNumber</key>
				<string>9</string>
				<key>scrollImaNumber</key>
				<string>1</string>
				<key>detailContent</key>
				<string>“最近新得了一些金龙鱼的面粉，赶紧动手做了个快速蛋糕尝尝鲜～属于一个蛋抽用到底，胡乱拌拌就搞定的，零另外加上了咖啡粉，变成了摩卡风味，特别好吃哦！”</string>
				<key>ingredients</key>
				<string>金龙鱼糕点用小麦粉-35克;速溶咖啡粉-4个;巧克力-45克;细砂糖-40克;核桃碎-30克;黄油-35克;鸡蛋-1个</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string>1、制作使用的是金龙鱼糕点用小麦粉，此款面粉不易起筋，颗粒细致，用来制作蛋糕非常松软；2、糖的用量根据所用的巧克力适当增减，像黑巧克力比较苦就可以多加一点；3、面糊制作时搅拌均匀没有颗粒即可，不要过度搅拌。</string>
				<key>step</key>
				<string>1、准备材料；2、将盐、面粉、咖啡粉混合，备用；3、巧克力和黄油小火加热到融化即可；4、鸡蛋加入糖搅拌成蛋液；5、将粉类倒入蛋液中，搅拌均匀；6、将巧克力浆倒入面糊中，搅拌均匀；7、加入核桃碎；8、将面糊倒入铺好油纸的模具中；9、放入170度预热好的烤箱，170度，上下火，18～20分钟。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>巧克力脆皮雪糕</string>
				<key>subTitle</key>
				<string>“热情如火的巧克力浆裹着冰凉的雪糕，当巧克力遇上雪糕的那刻，瞬间就…</string>
				<key>loveNumber</key>
				<string>46</string>
				<key>name</key>
				<string>Adam</string>
				<key>stepImaNumber</key>
				<string>10</string>
				<key>scrollImaNumber</key>
				<string>3</string>
				<key>detailContent</key>
				<string>“热情如火的巧克力浆裹着冰凉的雪糕，当巧克力遇上雪糕的那刻，瞬间就凝固了！变成了轻巧薄脆的巧克力脆皮。实在令人抗拒不了，抗拒不了呀！”</string>
				<key>ingredients</key>
				<string>芒果、奇异果-适量;巧克力雪糕-适量;香草味雪糕-适量;白巧克力-120克;黑巧克力-120克;奥利奥碎-适量;抹茶粉-适量;硅胶模具-1个</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string>雪糕；1、雪糕需提前半小时取出到室温软化，便于后面的操作；2、使用的雪糕口味可以按照个人喜好。；巧克力；1、制作巧克力脆壳，建议填两层巧克力，脱模的时候不容易碎掉；2、新手伙伴制作脆壳，可以使用刷子辅助，往模具壁刷上巧克力；3、巧克力的口味也可以用白巧克力搭配抹茶粉等调味；4、融化巧克力的水温，不能太高，巧克力也不可以碰水，否则会导致巧克力出现水油分离或起颗粒的情况。</string>
				<key>step</key>
				<string>1、巧克力隔热水融化，装入裱花袋；2、把适量的巧克力挤入硅胶模具；3、晃动模具使巧克力均匀铺满模具壁，放冰箱冷藏10分钟，直到凝固；4、雪糕提前取出室温软化，分出香草味的雪糕；5、一份加入抹茶粉；6、一份加入奥利奥碎；7、取出凝固好的巧克力壳，填入调好口味的雪糕，放入提前切好的水果粒；8、放回冰箱冷冻3小时左右，直到雪糕凝固；9、取出冻好的雪糕，在顶部填上巧克力封口；10、冷冻半小时，完全凝固后脱模即可。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>水晶桂花糕</string>
				<key>subTitle</key>
				<string>“水晶桂花糕的颜值很高，而且口感特别像果冻，Q弹爽滑，不愧是一款有…</string>
				<key>loveNumber</key>
				<string>21</string>
				<key>name</key>
				<string>方丽</string>
				<key>stepImaNumber</key>
				<string>6</string>
				<key>scrollImaNumber</key>
				<string>2</string>
				<key>detailContent</key>
				<string>“水晶桂花糕的颜值很高，而且口感特别像果冻，Q弹爽滑，不愧是一款有300年历史的经典美食，淡淡的桂花香味，不论是姐妹间的下午茶，还是席间茶点，都是极好的~采用白鲨水晶糕点粉，只需要六步，就可以制作出贼有面子的水晶桂花糕啦！”</string>
				<key>ingredients</key>
				<string>白鲨水晶糕点粉-100克;清水-260克;细砂糖-40克;干桂花-适量</string>
				<key>speciality</key>
				<string>营养餐、沙拉</string>
				<key>skill</key>
				<string>1、避免出现气泡，白鲨水晶糕点粉的粉浆过筛之后；2、蒸之前，要震一震，把容器拿起来抖一抖；3、把气泡震出来 ，然后再蒸。</string>
				<key>step</key>
				<string>1、将白鲨水晶糕点粉与糖混合均匀；2、分几次倒入清水，边倒边搅拌。直至成细腻的粉浆；3、分几次倒入清水，边倒边搅拌。直至成细腻的粉浆；4、加入干桂花搅拌均匀；5、在模具中刷一层油。粉浆搅拌均匀再倒入模具；6、放入锅中大中火蒸10分钟，取出放凉后冷藏1-2小时即可。</string>
			</dict>
			<dict>
				<key>titleName</key>
				<string>枣泥酥</string>
				<key>subTitle</key>
				<string>“欢吃枣，常说“一日三枣，长生不老”，现在岁数大了，枣子也咬不动了…</string>
				<key>loveNumber</key>
				<string>12</string>
				<key>name</key>
				<string>Darcy</string>
				<key>stepImaNumber</key>
				<string>17</string>
				<key>scrollImaNumber</key>
				<string>3</string>
				<key>detailContent</key>
				<string>“欢吃枣，常说“一日三枣，长生不老”，现在岁数大了，枣子也咬不动了，我就把枣子做成枣泥，然后做成各种食品来给老爸吃。老爸最喜欢吃这个枣泥酥，配上茶水，带上老花镜来关心他的家常理短。”</string>
				<key>ingredients</key>
				<string>低粉-190克;黄油-90克;枣泥馅-300克;蛋液-80克;糖粉-40克;盐-1克;熟芝麻-适量</string>
				<key>speciality</key>
				<string>日料、西点、法国菜</string>
				<key>skill</key>
				<string></string>
				<key>step</key>
				<string>1、黄油室温软化；2、加入糖粉、盐打至顺滑；3、分次加入全蛋液（每次加入都要搅打至吸收，再加入下一次）；4、再次将材料打发到顺滑状态；5、筛入低筋面粉；6、翻拌混合均匀成面团，入冰箱冷藏半小时；7、豆沙分成3份，每份用保鲜膜辅助搓成30cm长的条备用；8、把油纸折成30cmx21cm左右的长方形，放入冷藏好的面团压扁；9、擀成30cmx21cm的长方形，平均切成三份；10、取其中一份枣泥条放到一份面片上；11、面团从上往下卷起来，包裹起来捏紧封口；12、分别做完搓圆；13、表面刷蛋液；14、撒适量熟芝麻；15、然后切成2cm左右的段；16、摆入烤盘；17、入预热好的烤箱，170度、上下火、中层、烘烤20分钟左右即可</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
